$disconnect-color: #80f;

@mixin sector($color) {
  polyline {
    stroke: $color;
  }
  text {
    fill: $color;
  }
}

.sector {
  polyline {
    /* stroke-linecap: round;*/
    stroke-width: 3;
  }

  &.free {
    @include sector(#555);
  }

  &.occupied {
    @include sector(#f00);
  }

  &.locked {
    @include sector(#0f0);
  }

  &.locked-shunt {
    @include sector(#ccc);
  }

  &.lockout {
    @include sector(#ff0);
  }

  &.undefined {
    @include sector($disconnect-color);
  }
}
